.brand_main .bandBody{
    width: 100%;
    /*border: 1px solid red;*/
    padding-top: 0.5rem;
    text-align: center;
}
.brand_main .bandBody .image{
    /*border: 1px solid red;*/
    width: 100%;
    margin: 0 auto;
}

.brand_main .bandBody .image img{
    width: 100%;
    height: 17rem;
    /*vertical-align: top;*/
}

/*品牌文字*/
.brand_main  .image .imgTitle{
    box-shadow: 1px 1px 0px rgba(0,0,0,.3);
    background-color: black;
    /*margin-top: ;*/
    opacity: 0.3;
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    padding-left: 0.5rem;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    font-size: 0.5rem;
}
.brand_main  .image .imgTitle span{
    font-family: "myfont";
    font-size: 1rem;
}
.brand_main .bandBody .image a{
    border-radius: 0.2rem;
    margin-bottom: 0.3em;
    display: block;
    text-decoration: none;
    /*border: 0.4rem solid rgba(0,0,0,.5);*/
    color: #eee;
    position: relative;
    /*font-size: 0;*/
}

