.change_bg{
    height: 55.5rem;
    background-color: #f4f4f4;
}
.change_bg .update_header{
    position: relative;
    /*text-align: center;*/
}
.change_bg .update_header .icon{
    font-family: "myfont";
    color: #f4f4f4;
    font-size: 1.5rem;
    position: absolute;
    left:1rem;
    top: 60%;
}
.change_bg {
    text-align: center;
}
.change_bg input{
    width: 75%;
    height: 2rem;
    border: 1px solid transparent;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-top: 2rem;
    outline: none;
}
.change_bg button{
    outline: none;
    margin-top: 2rem;
    width: 70%;
    height: 3rem;
    border: 1px solid transparent;
    color: rgba(255,255,255,.8);
    font-size: 1rem;
    border-radius: 0.2rem;
    background-color: rgba(0,0,0,.7);
}
.change_bg .toLogin{
    text-decoration: none;
    color: #333;
    margin-top: 1.5rem;
}
